body {
  font-family: "Noto Sans KR", serif;
}

h1,
h2,
h3,
h4,
h5,
.logo-font {
  font-family: "Gugi", serif;
}

/* 네비게이션 영역 */
.nav-link.active,
.nav-link:hover {
  color: darkblue !important;
  font-weight: bold;
}

/* 헤더 영역 */
#headerCarousel {
  filter: grayscale(50%);
}

#headerCarousel:hover {
  filter: grayscale(0%);
}

/* 포트폴리오 섹션 */
.card-img-top {
  transition: transform .7s;
}

.card-img-top:hover {
  transform: scale(1.1);
}

/* 배너 */
.banner {
  background-image: url(images/card-banner.jpg);
  background-attachment: fixed;
  background-size: cover;
}

/* 연락처 섹션 */
.contact-bg {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.2)), 
    url(images/contact-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}